:root{
    --primary:#EA40A4;
    --studies:#3A82EE;
    --personal: var(--primary);
    --light:#EEE;
    --gray:#888;
    --dark:#313154;
    --danger:#ff5b57;

    --shadow:0 1px 3px rgba(0,0,0,0.1);
    --studies-glow:  0px 0px 4px rgba(58,130,238,0.75);
    --personal-glow:  0px 0px 4px rgba(234,64,164,0.75);
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:'montserrat',sans-serif;
}
input:not([type="radio"]):not([type="checkbox"]),button{
   appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: initial;
}

body{
    background: var(--light);
    color: var(--dark);
}
section{
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
h3{
    color: var(--dark);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}
h4{
    color: var(--gray);
    font-size: 0.875rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}
.greeting .title{
    display: flex;
}
